@model WebUI.Models.ShopInfoModel
@{
    ViewBag.Title = "CreateNewShop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Новый магазин</h2>

<div>
    @using (Html.BeginForm("CreateNewShop", "Admin", FormMethod.Post, new { @class = "form" }))
    {      
        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Название магазина", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "col-md-10 form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShortDescription, "Краткое описание", new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.ShortDescription, new { @class = "col-md-12 form-control ", rows = 2, style = "max-width: 100%; width: 100%; " })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Полное описание", new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.Description, new { @class = "col-md-12 form-control ", rows = 3, style = "max-width: 100%; width: 100%; " })
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Добавить" />
    }
</div>







