@model Domain.Entities.EventInfo
@{
    ViewBag.Title = "SelectedEvenEditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактировать событие</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.StartDate, "Дата начала", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "col-md-10 form-control" } })
            @Html.ValidationMessage("EndDate", "*", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndDate, "Дата окончания", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "col-md-10 form-control" } })
            @Html.ValidationMessage("EndDate", "*", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShopInfoId, "Выберите магазин:", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("ShopInfoId", ViewBag.Mag as SelectList, new { @class = "col-md-10 form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, "Заголовок", new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.Title, new { @class = "col-md-12 form-control ", rows = 3, style = "max-width: 100%; width: 100%; " })
            </div>
        </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShortDescription, "Краткое описание", new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.ShortDescription, new { @class = "col-md-12 form-control ", rows = 3, style = "max-width: 100%; width: 100%; " })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LongDescription, "Подробное описание", new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.LongDescription, new { @class = "col-md-12 form-control ", rows = 5, style = "max-width: 100%; width: 100%; " })
                </div>
            </div>

            <div class="col-md-12">
                <input type="submit" class="btn btn-primary" value="Изменить" />
            </div>
}


@*@using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.StartDate, "Дата начала")
        <br />
        @Html.EditorFor(model => model.StartDate)
        <br /><br />
        @Html.LabelFor(model => model.EndDate, "Дата окончания")
        <br />
                @Html.EditorFor(model => model.EndDate)
                <br /><br />

                <div class="form-group">
                    @Html.LabelFor(model => model.ShopInfoId, "Выберите магазин:", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownList("ShopInfoId", ViewBag.Mag as SelectList, new { @class = "col-md-10 form-control" })
                    </div>
                </div>

                @Html.LabelFor(model => model.ShortDescription, "Краткое описание")
                <br />
                @Html.EditorFor(model => model.ShortDescription)
                <br /><br />



                <input type="submit" value="Добавить" />

    }*@
