@model Domain.Entities.EventInfo

<div class="row">
    <div class="col-md-5"><img src="@Model.LogoUrl" alt="" class="img-responsive"></div>
    <div class="col-md-4"><h3>@Model.Title</h3></div>
    <div class="col-md-3"><h4 class="text-center">Дата проведения:<b><br><br>@Model.StartDate.ToShortDateString() - @Model.EndDate.ToShortDateString()</b></h4></div>
</div>


<div class="row">
    <div class="col-md-12"><p class="lead text-center">@Model.ShortDescription</p></div>
    <div class="col-md-12"><p class="text-justify">@Model.LongDescription</p></div>
</div>


<h2>Сюда можно список адресов магазина</h2>


